:root {
    font: 15px Helvetica, Arial, sans-serif;
    --primary-background: #DAA520;
    --secondary-background: white;
    --text-con: white;
    --text-norm: black;

}
/* Reformat hyperlink text in header nav bar */
.navBar {
    text-decoration: none;
    color: var(--text-con);
}

a {
    text-decoration: none;
}
body {
    background-color: var(--secondary-background);

}

header{
    padding-top: 20px ;
    padding-bottom: 80px ;
    background-image: linear-gradient(var(--primary-background),var(--secondary-background));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-evenly;
}

header h1 {
    flex: 1;
    font-size: 40px ;
    padding: 20px;
}

/* Sets formatting parameters for any navigation elements */

.navTools {
    list-style-type: none;
    padding-top: 10px;
    font-size: 20px;
}

.navTools li {
    display: inline;
    background-color: black;
    padding: 2px;
    margin: 40px 10px;
    border-style: double;
    border-color: var(--primary-background);
    
}

/* When hovered over, slightly alters nav boxes */
.navTools li a:hover, a:active {
    background-color: var(--secondary-background);
    color: var(--text-norm);
    padding: 10px;
    margin: 3px;
    font-size: 24px;
    font-weight: bold;
    border-style: double;
    border-color: var(--primary-background);

}

/* Sets formatting for introduction section */
h2 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

.summary{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.aboutMe {
    flex: 0 0 calc(25% - 20px);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bio {
    border: 8px double var(--primary-background);

}

/* Section for altering project list formatting */ 

#projects {

display: flex;
flex-wrap: wrap;
justify-content: center;

}

/* Main Project formatting */
.recent-project {
    width: 60%;

}

.recent-project img {

    border: 5px groove var(--primary-background);
    margin: 10px;
    max-width: 100%;
    
}

/* upcoming project format */
.upcoming {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.sub-projects {

    flex: 0 0 calc(25% - 20px);
    margin: 10px;

}

.sub-projects img{

    width: 100%;

}

@media screen and (max-width: 992px) {
    .bio {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .sub-projects{
        flex: 1 0 350px;
    }
}


/* section for altering footer formatting */

footer {
    padding-top: 80px ;
    padding-bottom: 20px ;
    background-image: linear-gradient(var(--secondary-background),var(--primary-background));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer h3 {
    flex: 1;
    justify-content: center;
    font-size: 25px ;
    padding: 15px;
}

